<?xml version="1.0" encoding="utf-8"?>

<!-- For more information about using the web.config conversion, see the https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the following example, the "SetAttributes" transformation will change the value of
    "connectionString" in order to use "ReleaseSQLServer" only when
    The "Match" pointer finds an attribute "name" that has the value "MyDB".
    
    <connectionStrings>.
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>.
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      In the following example, the "Replace" transformation will replace the entire 
      <customErrors> section in the web.config file.
      Note that since there is only one customErrors section in the 
      <system.web>, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>